// Slider logo section Start
section.slider-section
  .container
    .owl-carousel.owl-theme
      .item
        a(href='#')
          img(src='img/logo/upwork.svg')
      .item
        a(href='#')
          img(src='img/logo/freelancer.svg')
      .item
        a(href='#')
          img(src='img/logo/amazon-2.svg')
      .item
        a(href='#')
          img(src='img/logo/git.svg')
      .item
        a(href='#')
          img(src='img/logo/microsoft.svg')