<!--Start landing peag-->
section(class="landing row align-content-center m0")
    div.container
        div(class="col-12 col-md-4") 
            div( class='landing__info')
                block info
                h1 Hello, I'm Lisa
                p.pt-3 Multifunctional designer/developer
                    |based in Bath — a traditionally
                    |trained designer who codes.
                <button type="button" class="btn btn-min-color p-3 hvr-grow">Viw Work</button>
            div.landing__icon.d-flex
                div.hvr-grow
                    a(href="#")
                        img(src="assets/imges/icon/Behance.png", alt="Behance")
                div.hvr-grow
                    a(href="#")
                        img(src="assets/imges/icon/Group 271.png", alt="Drrial")
                div.hvr-grow
                    a(href="#")
                        img(src="assets/imges/icon/Linkedin.png", alt="Linked In")
    div.col-12.col-md-8