// Slider logo section Start
section.slider-section.pt-10.pb-10
  .container
    .owl-carousel.owl-theme#owl-logo
      .item
        a(href='#')
          img(src='assets/imges/logo/upwork.svg')
      .item
        a(href='#')
          img(src='assets/imges/logo/freelancer.svg')
      .item
        a(href='#')
          img(src='assets/imges/logo/amazon-2.svg')
      .item
        a(href='#')
          img(src='assets/imges/logo/git.svg')
      .item
        a(href='#')
          img(src='assets/imges/logo/microsoft.svg')