section#services.section.services-section.gray-bg.pb-10.pt-10
  .container
    .row.justify-content-center
      .col-lg-7.text-center
        .section-title
          h2 What I Do
          p
            | I design and develop services for customers of all sizes, specializing in creating stylish, modern websites
    .row
      // feaure box
      .col-sm-6.col-lg-4
        .feature-box-1
          .icon
            <i class="fa-solid fa-desktop"></i>
          .feature-content
            h5 Unique design
            p
              | I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.

      // feaure box
      .col-sm-6.col-lg-4
        .feature-box-1
          .icon
            <i class="fa-solid fa-tags"></i>
          .feature-content
            h5 Different Layout
            p
              | I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.

      // feaure box
      .col-sm-6.col-lg-4
        .feature-box-1
          .icon
            <i class="fa-solid fa-comment-dots"></i>
          .feature-content
            h5 Make it Simple
            p
              | I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.
      // /
      // feaure box
      .col-sm-6.col-lg-4
        .feature-box-1
          .icon
            <i class="fa-solid fa-mobile-screen-button"></i>
          .feature-content
            h5 Responsiveness
            p
              | I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.

      // feaure box
      .col-sm-6.col-lg-4
        .feature-box-1
          .icon
            <i class="fa-solid fa-bullseye"></i>
          .feature-content
            h5 Testing for Perfection
            p
              | I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.

      // feaure box
      .col-sm-6.col-lg-4
        .feature-box-1
          .icon
            <i class="fa-solid fa-screwdriver-wrench"></i>
          .feature-content
            h5 Advanced Options
            p
              | I design and develop services for customers of all sizes, specializing in creating stylish, modern websites.

